body{
    font-family: sans-serif;
    color: black;
    margin: 0;
    background-color: darkgrey;
    display: flex;
    justify-content: center;
    align-items: center;
}
html, body{
    height: 100%;
}

.modal{
    background-color: white;
    border-radius: 10px;
    padding: 15px;
    width: 480px;
    display: flex;
    gap: 20px;
}

.icon{
    background-color: rgb(195, 210, 229);
    color: dodgerblue;
    font-size: 30px;
    font-weight: 600;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    text-align: center;
    padding: 8px;
    flex-shrink: 0;
}
.container{
    flex: 2 1 0;
}
.header{
    font-size: 20px;
    font-weight: 700;
    padding: 0px 0px 8px;
    color: rgb(64, 61, 61);
    display: flex;
    justify-content: space-between;
}

.exit{
    background-color: lightgrey;
    color: rgb(146, 143, 143);
    border-radius: 50%;
    border: 1px solid white;
    font-size: 15px;
    height: 24px;
    width: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
}
.text{
    margin-bottom: 10px;
}
.continue{
    background-color: royalblue;
    color: white;
    border: 1px solid white;
    font-size: 15px;
}

.cancel{
    background-color: white;
    color: royalblue;
    border: 1px solid silver;
    font-size: 15px;
}

button{
    cursor: pointer;
    padding: 8px 16px;
    border-radius: 8px;
}